<div class="bs-callout bs-callout-primary">
  <h4>Phase 0: Initial Product Backlog prioritization</h4>
  This is your inital Product Backlog. It contains all functionality your stakeholders requested. Every item has:
  <ul>
    <li>A description.</li>
    <li>A business value. This is the expected value we will create by completing this item.</li>
    <li>An estimate. This is the amount of work the team thinks it will cost to complete this item.</li>
  </ul>
  As Product Owner, it's your task to prioritize the Product Backlog. You can reorder items by drag and dropping them. Try to maximize delivered value by putting items with a high return on investment on top of the backlog!
</div>

<div class="bs-callout bs-callout-primary">
  <h4>Done?</h4>
  Happy with the Product Backlog?
  <button type="button" class="btn btn-primary pull-right">Continue!</button>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sprint parameters</h3>
  </div>
</div>