<div class="bs-callout bs-callout-primary">
  <h4>Phase 1: Planning the first sprint</h4>
  Explanation here.
</div>

  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sprint parameters</h3>
  </div>
  <table class="table">
    <tr><td>
    Sprint duration (weeks)
    </td>
    <td>
      <select class="form-control" ng-model="sprint.duration">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    </td></tr>
  </table>

  <div class="panel-body">
    <a href="#/sprint-review" type="button" class="btn btn-primary pull-right">Start the Sprint!</a>
  </div>
</div>