<div class="bs-callout bs-callout-primary">
  <h4>Phase 2: Sprint Review</h4>
  Explanation here.
</div>

  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Summary</h3>
  </div>
  <div class="panel-body">
    <p>Delivered value: {{sprintresults.valueDelivered}}</p>
    <p>Completed storypoints: {{sprintresults.storypoints}}</p>
  </div>

  <div class="panel-heading">
    <h3 class="panel-title">Completed stories</h3>
  </div>  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Business value</th>
        <th>Estimate</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in sprintresults.completedStories">
        <td>{{item.description}}</td>
        <td>{{item.value}}</td>
        <td>{{item.estimate}}</td>
      </tr>
    </tbody>
  </table>

  <div class="panel-body">
    <a href="#/sprint-planning" type="button" class="btn btn-primary pull-right">Start planning the next sprint!</a>
  </div>
</div>